<h1><%= results.name%></h1>
<img src="<%= `${results.thumbnail.path}/standard_fantastic.jpg`%>" style="border: 10px solid black; border-radius: 50%;">
<% if(results.description){ %>
<h1>Summary: <br><%= %></h1>
<%}%>
<% if(user){ %>
  
  <div>
  <form method="POST" action="/genComment">
    <lable for="genComment"></lable>
    <input hidden type="text" name="name" value="<%= results.name %>" >
    <input hidden type="text" name="url" value="<%= `/details/${results.id}` %>" >
    <input hidden type="text" name="photo" value="<%= `${results.thumbnail.path}/portrait_incredible.jpg` %>" >
    <input hidden type="text" name="marvelKey" value="<%= results.id %>" >
    <input type="text"  id="genComment" name="genComment" placeholder="leave comment here"/>
    <input type="submit" />
  </form>
  </div>
    <form method="POST" action="/fave">
      <input hidden type="text" name="name" value="<%= results.name %>" >
      <input hidden type="text" name="url" value="<%= `/details/${results.id}` %>" >
      <input hidden type="text" name="photo" value="<%= `${results.thumbnail.path}/portrait_incredible.jpg` %>" >
      <input hidden type="text" name="marvelKey" value="<%= results.id%>" >
      <button class="btn btn-primary" type="submit">Add to Favorites</button>
    </form>
  
<% }else{ %> 
<a href="/users/new">Sign Up to add favorites or join the discussion</a>

<% } %>
<% if(commentData){ %>
  <h1>Comments:
    <% commentData.forEach(elem => { %>
      <div>
        
        <p><%=elem.userName%> said: <%= elem.body%>.  </p>
        
       
  
        
        
      </div>
      <% }) %>
  </h1>
  <% }else{ %>
  <p>Be the first to leave a comment!</p>
  
  <% } %>


<h1>
  <% if(comicData){ %>
    <% comicData.forEach(elem => { %>
        <div>
          <% if(elem.images[0]){ %>
            <img src="<%=`${elem.images[0].path}/portrait_incredible.jpg`%> ">
            <% }%>
          <p>Title:<%= elem.title%> </p>
          <% if(elem.creators.items[0]){ %>
          <p>Author:<%= elem.creators.items[0].name%> </p>
          <% }%>
          <p>Price: $<%= elem.prices[0].price%> </p>

          
          
        </div>
        
      <% }) %>
      <% }else{ %>
        <p>Marvel has yet to upload this characters comic portfolio</p>
        
        <% } %>
      
</h1>


          





<!-- <form method="POST" action="/faves">
  <input hidden name="title" value="<%=  %>" />
  <input hidden name="imdbId" value="<%= %>" />

  <input type="submit" value="fave this movie " />
</form> -->