<h1><%= results.name%></h1>
<img src="<%= `${results.thumbnail.path}/landscape_incredible.jpg`%>">
<h1><%= results.description%></h1>

          





<!-- <form method="POST" action="/faves">
  <input hidden name="title" value="<%=  %>" />
  <input hidden name="imdbId" value="<%= %>" />

  <input type="submit" value="fave this movie " />
</form> -->