<%- include('./partials/head.ejs'); %>
<link rel="stylesheet" href="/public/css/styleDetail.css" />

<h1 id="heroName"><%= results.name%></h1>
<div id="coverScreen"   class="LockOn">
<div class="PD">

  
  <img class="gradient-border hero" src="<%= `${results.thumbnail.path}/standard_fantastic.jpg`%>" id="box" >
  <% if(results.description){ %>
  <h1 id="description"><br><%= results.description%></h1>
  <%}%>

</div>
<form style="text-align: center;" method="POST" action="/fave">
  <input hidden type="text" name="name" value="<%= results.name %>" >
  <input hidden type="text" name="url" value="<%= `/details/${results.id}` %>" >
  <input hidden type="text" name="photo" value="<%= `${results.thumbnail.path}/portrait_incredible.jpg` %>" >
  <input hidden type="text" name="marvelKey" value="<%= results.id%>" >
  <% if(favData.heroId === results.id){ %>
    <p>Favorited! </p>
    <% }else{ %>
      <button class="btn btn-primary" style="background-color: red; border: solid red;" type="submit">Add to Favorites</button>
      <% } %>
 
</form>
<br>
<form style="text-align: center;" method="POST" action="/details/<%= results.id %>/?_method=DELETE">
  <input hidden name="characterId" value="<%= favData.heroId %>">
  <button class="btn btn-outline-light" type="submit">Remove from favorites</button>
</form>



<% if(commentData){ %>
  <% commentData.forEach(elem => { %>

    

<div class="comments">
                <div class="commentLeft">
                  <h5 class="commentLeft"> <img class="commentLeft" style="border-radius: 50%; height: 20px; width: 20px;" src="https://i.pinimg.com/custom_covers/222x/85498161615209203_1636332751.jpg" style="height: 50px;width: 50px;" alt="Image Description"><%=elem.userName%></h5>
                  <p class="commentLeft" style="font-size: 10px; text-decoration: underline;"><%=elem.createdAt%></p>
                </div>
                <p class="commentBody"><%= elem.body%></p>
              </div>
          </div>
      </div>
      



      <% }) %>
  </h1>
  <% }else{ %>
  <p>Be the first to leave a comment!</p>
  
  <% } %>
</div>
<% if(user){ %>
  
  <div>
  <form method="POST" action="/genComment" style="text-align: center;">
    <lable for="genComment"></lable>
    <input hidden type="text" name="name" value="<%= results.name %>" >
    <input hidden type="text" name="url" value="<%= `/details/${results.id}` %>" >
    <input hidden type="text" name="photo" value="<%= `${results.thumbnail.path}/portrait_incredible.jpg` %>" >
    <input hidden type="text" name="marvelKey" value="<%= results.id %>" >
    <input type="text"  id="genComment" name="genComment" placeholder="Add to the discussion"/>
    <input type="submit" />
  </form>
  </div>
    
  
<% }else{ %> 


<% } %>



  <h1 style="text-align: center;" >Featured In:</h1>

  <% if(comicData){ %>
    <% comicData.forEach(elem => { %>

        <div class="scene" style="text-align: center;" >
          <div class="card">
            <div class="card__face card__face--front">
              <img src="<%=`${elem.images[0].path}/portrait_incredible.jpg`%>" />
            </div>
            <div class="card__face card__face--back">
              <p class="backtext">Title:<%= elem.title%> </p>
              <% if(elem.creators.items[0]){ %>
              <p class="backtext">Author: <%= elem.creators.items[0].name%> </p>
              <% }%>
              <p class="backtext">Price: $<%= elem.prices[0].price%> </p></h3>i</p>
              <a class="backtext" href="<%= elem.urls[0].url%>"> More Info </a> </p></h3>i</p>
            </div>
          </div>
      </div>
     
             
          
        
      <% }) %>
      <% }else{ %>
        <p>Marvel has yet to upload this characters comic portfolio</p>
        
        <% } %>
      

      </div>




<!-- <form method="POST" action="/faves">
  <input hidden name="title" value="<%=  %>" />
  <input hidden name="imdbId" value="<%= %>" />

  <input type="submit" value="fave this movie " />
</form> -->