<h1><%= results.name%></h1>
<img src="<%= `${results.thumbnail.path}/landscape_incredible.jpg`%>">
<h1><%= results.description%></h1>

<h1>
    <% comicData.forEach(elem => { %>
        <div>
          <img src="<%= `${elem.images[0].path}/portrait_large.jpg`%>">
          <p>Title:<%= elem.title%> </p>
          <p>Series:<%= elem.series.name%> </p>
          <p>Author:<%= elem.creators.items[0].name%> </p>
          <p>Price:<%= elem.prices[0].price%> </p>
        </div>
      <% }) %>
      
</h1>

          





<!-- <form method="POST" action="/faves">
  <input hidden name="title" value="<%=  %>" />
  <input hidden name="imdbId" value="<%= %>" />

  <input type="submit" value="fave this movie " />
</form> -->