
<link rel="stylesheet" href="/public/css/styleSearch.css" />
<%- include('./partials/head.ejs'); %>


<!-- <form method="GET" action="/search">
  <lable for="marvelSearch"></lable>
  <input type="text"  id="marvelSearch" name="marvelSearch" placeholder="Daredevil"/>
  <input type="submit" />
</form> -->
<html class="wrapper">
  



<div class="container">
  <div class="row">
      <div class="col-lg-12 card-margin">
          <div class="card search-form">
              <div class="card-body p-0">
                  <form id="search-form">
                      <div class="row">
                          <div class="col-12">
                              <div class="row no-gutters">
                                  <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                      <form method="GET" action="/search" class="form-control" >
                                        <lable for="marvelSearch"></lable>
                                        <input class="form-control "type="text"  id="marvelSearch" name="marvelSearch" placeholder="Search" value="howard"/>
                                        <input type="submit" />
                                      </form>
                                  </div>
                                  <div class="col-lg-4 col-md-3 col-sm-12 p-0">
                                      <button type="submit" class="btn btn-base">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
          <div class="col-12">
              <div class="card card-margin">
                  <div class="card-body">
                      <div class="row search-body">
                          <div class="col-lg-12">
                              <div class="search-result">
                                  <div class="result-header">
                                      <div class="row">
                                          <div class="col-lg-6">
                                              <div class="records">Showing: <b><%=results.count%></b>result</div>
                                          </div>
                                          <div class="col-lg-6">
                                              <div class="result-actions">
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="result-body">
                                      <div class="table-responsive">
                                          <table class="table widget-26">
                                              <tbody>
                                                <% results.forEach(elem => { %>
                                                  <tr>
                                                      <td>
                                                          <div class="widget-26-job-emp-img">
                                                              <img src="<%= `${elem.thumbnail.path}/standard_amazing.jpg`%>" alt="Company" />
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <div class="widget-26-job-title">
                                                              <p><%= elem.name %></p>
                                                              <p class="m-0"><p class="employer-name">Marvel ID:<%= elem.id %></p> </p>
                                                          </div>
                                                      </td>
                                                      <td>
                                                        <% if(results.description){ %>
                                                          <p class="description">
                                                            <%=results.description%></p>
                                                            <%}%>
                                                      </td>
                                                      <td>
                                                        <form method="POST" action="/">
                                                          <input hidden type="text" name="name" value="<%= elem.name %>" >
                                                          <input hidden type="text" name="url" value="<%= `/details/${elem.id}` %>" >
                                                          <input hidden type="text" name="photo" value="<%= `${elem.thumbnail.path}/portrait_incredible.jpg` %>" >
                                                          <input hidden type="text" name="marvelKey" value="<%= elem.id%>" >
                                                          <button class="btn btn-primary" type="submit">More Info</button>
                                                        </form>
                                                      </td>
                                                      <td>
                                                      </td>
                                                  </tr>
                                                  </tr>
                                                  <% }) %>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</html>

<!-- ${results.thumbnail.path} -->