<h1>Search</h1>
<p>Search for a character below...</p>

<form method="GET" action="/search">
  <lable for="marvelSearch"></lable>
  <input type="text"  id="marvelSearch" name="marvelSearch" placeholder="Daredevil"/>
  <input type="submit" />
</form>

<h1>
    <% results.forEach(elem => { %>
        <div>
          <h8><%= elem.name %></h8>
          <h8><%= elem.id %></h8>

          <br>
          <img src="<%= `${elem.thumbnail.path}/standard_amazing.jpg`%>" style="border: 10px solid black; border-radius: 50%; height: 350px; width: 350px;">
          <form method="POST" action="/">
            <input hidden type="text" name="name" value="<%= elem.name %>" >
            <input hidden type="text" name="url" value="<%= `/details/${elem.id}` %>" >
            <input hidden type="text" name="photo" value="<%= `${elem.thumbnail.path}/portrait_incredible.jpg` %>" >
            <input hidden type="text" name="marvelKey" value="<%= elem.id%>" >
            <button class="btn btn-primary" type="submit">More Info</button>
          </form>
        </div>
      <% }) %>
      
</h1>

<!-- ${results.thumbnail.path} -->